body {
  /* background-color: blue; */
  /* position: absolute;
  width: 140px;
  height: 78.4px;

  background: url(404-4047581_thumb-image-crypto-logo-png-transparent-png-removebg-preview.png); */
}
