@import './common.css';

.container {
  width: 1440px;
  padding-left: 185px;
  padding-right: 179px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .container {
    min-width: 320px;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 38px;
  background: rgba(67, 108, 255, 0.27);
}

@media screen and (max-width: 1439px) {
  .header__title {
    max-width: 480px;
    padding-top: 19px;
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 1439px) {
  .header__logo {
    width: 85px;
  }
}

.header__nav {
  display: flex;
}

.menu {
  display: flex;
}
.menu__links:not(:first-child) {
  margin-left: 50px;
}
@media screen and (max-width: 1439px) {
  .menu__links:not(:first-child) {
    margin-left: 15px;
  }
}

.menu__item {
  color: var(--main-text);

  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.47px;
}
@media screen and (max-width: 1439px) {
  .menu__links {
    font-size: 12px;
  }
}

.menu__item:hover,
.menu__item:focus {
  color: var(--second-text);
  transition: var(--transition-function);
}

.button {
  width: 214px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--accent-text);
  border: none;
  color: var(--white-text);
}

@media screen and (max-width: 1439px) {
  .button {
    width: 100px;
    height: 60px;
    font-size: 14px;
  }
}

.button:hover,
.button:focus {
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.32);
  transition: var(--transition-function);
}

.hero__container {
  padding-top: 104px;
  padding-bottom: 117px;
  /* background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-position: 767px 104px; */
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .hero__container {
    display: block;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

.hero__title {
  margin: 0 0 30px;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.5px;
}

@media screen and (max-width: 1439px) {
  .hero__title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -2.5px;
  }
}

.hero__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.63px;
  margin-bottom: 50px;
}

@media screen and (max-width: 1439px) {
  .hero__subtitle {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 30px;
  }
}

.hero__btn {
  background-color: var(--white-text);
  border-color: var(--accent-text);
  color: var(--accent-text);
  margin-left: 36px;

  width: 214px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
@media screen and (max-width: 1439px) {
  .hero__btn {
    width: 100px;
    height: 60px;
    font-size: 14px;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.32);
  transition: var(--transition-function);
}
.hero__set {
  max-width: 468px;
  justify-content: left;
}
@media screen and (max-width: 1439px) {
  .hero__set {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1439px) {
  .hero__img {
    max-width: 320px;
    display: flex;
    margin: auto;
  }
}
.form__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

@media screen and (max-width: 1439px) {
  .form__container {
    flex-flow: wrap;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1439px) {
  .form__img {
    order: 1;
  }
}

@media screen and (max-width: 1439px) {
  .form {
    order: 0;
    max-width: 320px;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
}

.form__title {
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56px;
  margin-bottom: 38px;
}

@media screen and (max-width: 1439px) {
  .form__title {
    margin-bottom: 15px;
    font-size: 35px;
  }
}

.form__thumb {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1439px) {
  .form__img {
    max-width: 245px;
    display: flex;
    margin: auto;
  }
}

.form__input {
  padding: 19px 14px;
  width: 302px;
  height: 60px;

  border: 1px solid #7087ff;
  border-radius: 10px;
}

input::placeholder {
  color: #000000;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.53px;
}

.form__btn {
  margin-left: 39px;
}

.work__container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 132px;
}

@media screen and (max-width: 1439px) {
  .work__container {
    padding-bottom: 40px;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: -40px;
}

@media screen and (max-width: 1439px) {
  .work__list {
    display: block;
    margin: auto;
    padding: 0 15px;
  }
}

.work__item {
  padding-top: 34px;
  padding-bottom: 24px;
  border: none;
  background-color: var(--disactive-bg-color);
  border-radius: 10px;
  max-height: 441px;
  flex-basis: calc(100% / 3 - 40px);
  margin-top: 40px;
  margin-left: 40px;
}

.work__item:hover,
.work__item:focus {
  background-color: var(--active-bg-color);
  color: var(--white-text);
  transform: var(--transition-function);
}
.work__item:hover .work_btn,
.work__item:focus .work_btn {
  background-color: #9f3919;
  color: var(--white-text);
  transition: var(--transition-function);
}

.work__item:hover .work__name,
.work__item:focus .work__name {
  color: rgba(255, 255, 255, 0.7);
  transition: var(--transition-function);
}

.work__item:hover .work__text,
.work__item:focus .work__text {
  color: var(--white-text);
  transition: var(--transition-function);
}

@media screen and (max-width: 1439px) {
  .work__item {
    padding-top: 34px;
    padding-bottom: 24px;
    border: none;
    background-color: var(--disactive-bg-color);
    border-radius: 10px;
    max-height: 441px;
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 1439px) {
  .work__item {
    max-width: 330px;
    margin: 0 auto 15px auto;
  }
}

.work__title {
  max-width: 504px;
  margin-bottom: 98px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}

@media screen and (max-width: 1439px) {
  .work__title {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -1.88px;
  }
}

.date {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
.work__name {
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.work__text {
  margin-bottom: 28px;

  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03px;
  color: var(--second-text);
}

@media screen and (max-width: 1439px) {
  .work__text {
    margin-bottom: 15px;

    font-size: 50px;
    line-height: 46px;
  }
}

.work__paragraph {
  margin-bottom: 36px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.53px;
}

@media screen and (max-width: 1439px) {
  .work__paragraph {
    margin-bottom: 20px;
  }
}

.work_btn {
  width: 285px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--white-text);
  border: none;
  color: var(--accent-text);
  margin: 0 auto;
  display: block;
}

.footer__container {
  display: flex;
  /* height: 145px; */
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 31px;
  background-color: #ccd7ff;
}
