:root {
  --main-text: #696871;
  --second-text: #19191b;
  --accent-text: #5454d4;
  --white-text: #ffffff;
  --main-bg-color: #ffffff;
  --second-bg-color: rgba(67, 108, 255, 0.27);
  --accenr-bg-color: #5454d4;
  --disactive-bg-color: #f8f8f8;
  --active-bg-color: #ff7143;
  --transition-function: 250ms;
  --min-flexmobile: 320px;
  --min-mobile: 480px;
  --min-desktop: 1440px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: DM Sans;
  font-weight: 700;
  margin: 0;
  color: var(--second-text);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-family: Mulish;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  padding-left: 185px;
  padding-right: 179px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 38px;
  background: rgba(67, 108, 255, 0.27);
}
.header__nav {
  display: flex;
}

.menu {
  display: flex;
}
.menu__links:not(:first-child) {
  margin-left: 50px;
}

.menu__item {
  color: var(--main-text);

  font-family: "DM Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.47px;
}
.menu__item:hover,
.menu__item:focus {
  color: var(--second-text);
  transition: var(--transition-function);
}

.button {
  width: 214px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--accent-text);
  border: none;
  color: var(--white-text);
}
.button:hover,
.button:focus {
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.32);
  transition: var(--transition-function);
}

.hero__title {
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.5px;
}

.hero__subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.63px;
}

.hero__btn {
  background-color: var(--white-text);
  border-color: var(--accent-text);
  color: var(--accent-text);
  margin-left: 36px;

  width: 214px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
.hero__btn:hover,
.hero__btn:focus {
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.32);
  transition: var(--transition-function);
}

.hero__container {
  padding-top: 104px;
  padding-bottom: 117px;
  background-image: url("../img/pose.png"), url("../img/stand.png"),
    url("../img/bubble.png");
  background-repeat: no-repeat;
  background-position: 767px 104px, 812px 198px, 1075px 446px;
}
.hero__set {
  max-width: 468px;
  justify-content: left;
}

.hero__title {
  margin: 30px 0 30px;
}

.hero__subtitle {
  margin-bottom: 50px;
}

.form__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.form__title {
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56px;
  margin-bottom: 38px;
}
.form__thumb {
  display: flex;
  justify-content: space-between;
}

.form__input {
  padding: 19px 14px;
  width: 302px;
  height: 60px;

  border: 1px solid #7087ff;
  border-radius: 10px;
}

input::placeholder {
  color: #000000;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.53px;
}

.form__btn {
  margin-left: 39px;
}

.work__container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 132px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: -40px;
}

.work__item {
  padding-top: 34px;
  padding-bottom: 24px;
  border: none;
  background-color: var(--disactive-bg-color);
  border-radius: 10px;
  max-height: 441px;
  /* top: 0;
    left: 0; */
  flex-basis: calc(100% / 3 - 40px);
  margin-top: 40px;
  margin-left: 40px;
}

.work__item:hover,
.work__item:focus {
  background-color: var(--active-bg-color);
  color: var(--white-text);
  transform: var(--transition-function);
}
.work__item:hover .work_btn,
.work__item:focus .work_btn {
  background-color: #9f3919;
  color: var(--white-text);
}

.work__item:hover .work__name,
.work__item:focus .work__name {
  color: rgba(255, 255, 255, 0.7);
}

.work__item:hover .work__text,
.work__item:focus .work__text {
  color: var(--white-text);
}

.work__title {
  max-width: 504px;
  margin-bottom: 98px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.88px;
}

.date {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03;
}
.work__name {
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.56;
}

.work__text {
  margin-bottom: 28px;

  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03px;
  color: var(--second-text);
}

.work__paragraph {
  margin-bottom: 36px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.53px;
}

.work_btn {
  width: 285px;
  height: 60px;
  font-family: DM Sans;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--white-text);
  border: none;
  color: var(--accent-text);
  margin: 0 auto;
  display: block;
}

.footer__container {
  display: flex;
  /* height: 145px; */
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 31px;
  background-color: #ccd7ff;
}
